/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
.fa-clock {
  color: #58b3a1;
  width: 1.3em !important;
  height: 1.3em;
  margin-bottom: -2px;
  margin-right: 2px;
}