--- 
layout: splash
--- 

{% if page.url == "/" %}

{% comment %} <!-- Makaleler--> {% endcomment %}
{% include single-category-by-single-collection-with-tags.html item_collection="article" item_teaser="yes" limit=10 %}

{% comment %} <!-- Nasıl Yapıldı Dökümanları --> {% endcomment %}
{% include single-category-by-single-collection-with-tags.html item_collection="how-to" item_category="Nasıl Yapıldı" item_teaser="yes" limit=10 %}

{% endif %}


{% comment %} <!-- Son yazılar--> {% endcomment %}
<div class="list__item_border_posts">
    <div class="archive_subtitle_container" >
  <span class="archive__subtitle_span" style="display:inline-block;">
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  </span>
  {% assign of_collection = "posts" %}
  <span class="archive__subtitle_tag">{% include tag-list-collection.html %}</span>
  </div>
  {% for post in paginator.posts %}
    {% include archive-with-image.html item_teaser="yes" item_collection=of_collection %}
  {% endfor %} {% include paginator.html %}
</div>