/* ==========================================================================
   ARCHIVE
   ========================================================================== */
$list__item_border_article_color: #819efc !important;
$list__item_border_how-to_color: #978ada !important;
$list__item_border_posts_color: #4aa5ca !important;
$list__item_border_category_color: #f79eb4 !important;
$list__item_border_projects_color: #79b13a !important;


.archive {
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

.archive p {
  font-size: $type-size-5a;
}

.archive__subtitle {
  //margin: 1.414em 0 0;
  margin: 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;
  font-weight: normal;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive_subtitle_container {
  margin-bottom: 10px;
}

.archive__subtitle_span {
  display: inline-block;
}

.archive__subtitle_tag {
  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }

}

.list__item_border_article .archive__subtitle_tag_a, 
.list__item_border_how-to .archive__subtitle_tag_a, 
.list__item_border_posts .archive__subtitle_tag_a,
.list__item_border_projects .archive__subtitle_tag_a,
.list__item_border_category .archive__subtitle_tag_a {
  color: $list__item_border_article_color;
  display: inline-block;
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  border-radius: 4px;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 83%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  margin-bottom: 12px;

  svg {
    font-size: 80%;
    margin-right: 5px;
  }

  &:hover {
    background: $list__item_border_article_color;
    color: white !important;
  }

  &:first-child {
    margin-left: 15px;
  }
}

.archive__subtitle_tag_a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.list__item_border_how-to .archive__subtitle_tag_a {
  color: $list__item_border_how-to_color;

  &:hover {
    background: $list__item_border_how-to_color;
  }

}

.list__item_border_posts .archive__subtitle_tag_a {
  color: $list__item_border_posts_color;

  &:hover {
    background: $list__item_border_posts_color;
  }

}

.list__item_border_category .archive__subtitle_tag_a {
  color: $list__item_border_category_color;

  &:hover {
    background: $list__item_border_category_color;
  }
}

.list__item_border_projects .archive__subtitle_tag_a {
  color: $list__item_border_projects_color;

  &:hover {
    background: $list__item_border_projects_color;
  }
}

.page_tag_list {

+ .list__item_border_article .archive__subtitle_tag_a, 
+ .list__item_border_how-to .archive__subtitle_tag_a, 
+ .list__item_border_posts .archive__subtitle_tag_a, 
+ .list__item_border_projects .archive__subtitle_tag_a
+ .list__item_border_category .archive__subtitle_tag_a {
  font-size: 100%;
  margin-bottom: 7px;
  margin-right: 7px;
  }
}

.page_categories_list {
 
  + .list__item_border_category .archive__subtitle_tag_a {
    font-size: 100%;
    margin-bottom: 7px;
    margin-right: 7px;
    }
  }

.archive__second__subtitle {
  margin: 1.414em 0 0.6em;
  padding-bottom: 0.5em;
  font-size: $type-size-6;
  color: $muted2-text-color;
  border-bottom: 1px solid $border-color;

}

.archive__item-title {
  margin-bottom: 0.25em !important;
  padding-bottom: 0 !important;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  // font-weight: normal;
  color: #5f5e5e;

  a {
    color: inherit;
  }

  a + a {
    opacity: 0.5;
  }

}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 0;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
  font-size: $type-size-5a;
  color: #656565;
  min-height: 48px;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  float: left;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 10px;
  img {
    height: 100%;
    width: 100%;
    
    @include breakpoint($medium) {
      // height: 4.6em !important;
      width: 8.8em !important;
    }
  }
}

/*
   List view
   ========================================================================== */


.list__item {
  .page__meta {
    margin: 0 0 4px;
    font-size: 0.65em;
  }
}

.list__item_container {
  display: grid;
 margin-bottom: 0.5em;
}

.list__item_border_article {
  margin-bottom: 35px;

  h3 {
    color: $list__item_border_article_color;
  }
}

.list__item_border_how-to {
  margin-bottom: 35px;

  h3 {
    color: $list__item_border_how-to_color;
  }
}

.list__item_border_posts {
  margin-bottom: 35px;

  h3 {
    color: $list__item_border_posts_color;
  }
}

.list__item_border_category {
  margin-bottom: 35px;

  h3 {
    color: $list__item_border_category_color;
  }
}

.list__item_border_projects {

  h3 {
    color: $list__item_border_projects_color;
  }
}

.list__item_sub_border_article {
  padding-left: 0.7em;
  display: inline-block;
  border-left: 1px solid $list__item_border_article_color;
  width: 76%;
}

.list__item_sub_border_how-to {
  padding-left: 0.7em;
  display: inline-block;
  border-left: 1px solid $list__item_border_how-to_color;
  width: 76%;
}

.list__item_sub_border_posts {
  padding-left: 0.7em;
  display: inline-block;
  border-left: 1px solid $list__item_border_posts_color;
  width: 76%;
}

.list__item_sub_border_category {
  padding-left: 0.7em;
  display: inline-block;
  border-left: 1px solid $list__item_border_category_color;
  width: 76%;
}

.list__item_sub_border_projects {
  padding-left: 0.7em;
  display: inline-block;
  border-left: 1px solid $list__item_border_projects_color;
  width: 76%;
}

.author_icon_page_meta {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.archive__item .page__meta span {
  margin: 0 7px 0 7px;

  &:first-child{
      margin-left: 0px;
  }
}

/*
   Grid view
   ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-right: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-right: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    display: inline-block;
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }

  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: $type-size-5a;
  }
}

/*
   Wide Pages
   ========================================================================== */

  .wide {
  .archive {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}