/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;

  & + table {
    margin-top: 1em;
  }
}

thead {
  /*background-color: $border-color;*/
  /*border-bottom: 2px solid mix(#000, $border-color, 25%);*/
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  background: rgba(212,221,228,.5);
  border: 2px solid #fff;
  border-bottom: 2px solid #d4dde4;
}

td {
  padding: 0.5em;
  /*border-bottom: 1px solid mix(#000, $border-color, 25%);*/
  background-color: rgba(212,221,228,.25);
  box-shadow: inset 0 -1px 0 0 rgba(212,221,228,.5);
  border: 2px solid #fff;
}

tr,
td,
th {
  vertical-align: middle;
}